body {
  margin-bottom: 25px;
  font-family: Helvetica, Arial, Verdana !important;
}

img {
    max-width: 33%;
    max-height: 33%;
}

strong, b {
  font-weight: bold;
}

a {
    color: inherit;
}

i, em {
  font-style: italic;
}

